.contenedorExperiencia{
    display: flex;
    /* align-items: center; */
    background: rgb(22,31,91);
    background: linear-gradient(0deg, rgba(22,31,91,1) 2%, rgba(24,35,108,1) 38%, rgba(24,35,108,0.8827906162464986) 99%);
    margin-top: 110px;
    height: 630px;
    padding-top: 90px;
    
}

.contenedorExperiencia .experienciaImg{
width:70% ;
display: block;


position: relative;
left: 20px;

margin: 50px;
}

.contenedorExperiencia .experienciaImg div{
    display: block;
    width: 100%;

    position: absolute;
    top: -250px;
    
}
.experienciaImg div img{
    border-radius: 105px 10px 105px 10px;
    -moz-border-radius: 105px 10px 105px 10px;
    -webkit-border-radius: 105px 10px 105px 10px;
    border: 0px solid #000000;
}

.contenedorExperiencia .experienciaText h2{
    display: flex;
    justify-content: center;
    padding: 25px;
    margin:10px;

}
.experienciaText{
    color: #fff;
}
 .experienciaText .parrafoExperiencia{
    display: flex;
    width: 75%;
    padding-left: 244px;
    margin: 30px;
    font-size: 16px;
    justify-content: center;
}
.experienciaText .checkPoint{
    display: block;
    width: 400px;
    height: 80px;

}
.checkPoint div{
    display: block;
    margin: 16px;
    height: 40px;
    float: left;
}
.checkPoint p{
    display: flex;
    height: 40px;
    padding-left: 40px;
    align-items: center;
}
 



